body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{
	font:12px"宋体","Arial Narrow",HELVETICA;
	background:#fff;
    -webkit-text-size-adjust:100%;
    /*firefox*/
         background-image: -moz-linear-gradient(top, #4b8e01, #ffffff);  
     /* Safari & Chrome */  
         background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #b8e7ff));  
     /* IE6 & IE7 */
         filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#b8e7ff', endColorstr='#ffffff');  
     /* IE8 */  
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b8e7ff', endColorstr='#ffffff')"; 
}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
#header{
	    width: 1024px;
	    height: 156px;
	    margin: 0px auto;
	    background: #f67676;
}
.left_header{
	    width: 578px;
	    height: 156px;
	    float: left;
        margin-left: 0px;
}
.right_header{
	     width: 442px;
	     height: 156px;
	     float: right;
	     margin: 0px;
}
.bottom_header{
	     width: 1024px;
	     height: 20px;
	     margin: 0px auto;
	     float: center;
	  /*firefox*/
         background-image: -moz-linear-gradient(top, #4b8e01, #ffffff);  
     /* Safari & Chrome */  
         background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #4b8e01));  
     /* IE6 & IE7 */
         filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4b8e01', endColorstr='#ffffff');  
     /* IE8 */  
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4b8e01', endColorstr='#ffffff')";  
}
#main{
	     width: 960px;
	     height: 777px;
	     margin: 0px auto;
}
.left_content{
	      width: 640px;
	      height: 100%;
	      float: left;
	      font-family: 宋体;
	      font-size: 20px;
}


/*左边栏开始*/
.left_one{
          width: 640px;
          height: 296px;
}
.left_one_title{
          font-family: 楷体;
          font-size: 36px;
          font-weight: bold;
          line-height: 40px;
}
.left_one_header{
	       width: 640px;
	       height: 24px;
	       position: absolute;
         margin-top: 0px;
	  /*firefox*/
         background-image: -moz-linear-gradient(top, #4b8e01, #ffffff);  
     /* Safari & Chrome */  
         background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #4b8e01));  
     /* IE6 & IE7 */
         filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4b8e01', endColorstr='#ffffff');  
     /* IE8 */  
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4b8e01', endColorstr='#ffffff')"; 
}
.left_one_content{
	        width: 640px;
	        height: 206px;
	        margin-top: 24px;
}
.left_one_footer{
	       width: 640px;
	       height: 24px;
	       position: absolute;
	       margin-top: 0px;
	  /*firefox*/
           background-image: -moz-linear-gradient(top, #4b8e01, #ffffff);  
     /* Safari & Chrome */  
           background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #4b8e01));  
     /* IE6 & IE7 */
           filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4b8e01', endColorstr='#ffffff');  
     /* IE8 */  
           -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4b8e01', endColorstr='#ffffff')"; 
}
/*新闻动态开始*/
.left_two{
	         width: 640px;
	         height: 277px;  
}
.gongyi{
          font-family: 宋体;
          font-size: 20px;
          line-height: 40px;
          color: #8a1703;
}
.gongyi li{
           font-family: 微软雅黑;
           font-size: 16px;
           color: #fe7f69;
           line-height: 27px;
           list-style:circle;
           margin-left: 60px;
}
.gongyi li a:link {
          color: ##4b8e01;
            text-decoration: none;
 }
.gongyi li a:visited {
            color: ##4b8e01;
            text-decoration: none;
 }
.gongyi li a:hover {
            color: #1849a3; 
            text-decoration: none;
 }
/*新闻动态结束*/
/*乐捐助开始*/

.form{
           width: 640px;
           height: 50px;
           margin-top: 10px;
           font-family: 微软雅黑;
           font-size: 20px;
           color: #8f0707;
           margin-left: 20px;
           font-weight: bolder;
}
.input{
            width: 120px;
            height: 30px;
            border: solid 2px;
            padding: 2px 0px;
            border-color: #59d9da;
            border-radius: 10px;
            outline: none;
}
.submit{
             width: 90px;
             height: 33px;
             font-size: 16px;
             border: none;
             color: white;
             background-color: #6ea700;
}
/*乐捐助结束*/

.left_three{
	         width: 640px;
	         height: 120px;
}
.left_three ul{
           margin-left: 0px;
}
.left_three li{
          width: 206px;
          height: 50px;
          float: left;
          padding-left: 0px;
}
.left_three li img{
	      border: 1px solid #63989e;
}
.left_content_txt{
	      width: 640px;
	      height: 70%;
	      float: left;
	      font-family: 宋体;
	      font-size: 20px;
	      letter-spacing: 1px;
	      text-indent: 2em;
	      word-break:break-all;
	      word-wrap:break-word;
	      -webkit-margin-before: 1em;
          -webkit-margin-after: 1em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
/*	      border:1px solid #000;*/
}
.left_img{
	       width: 640px;
	       height: 25%;
	       float: left;
}
/*左边栏结束*/

/*右边栏开始*/
.right_content{
	      width: 300px;
	      height: 100%;
	      float: right;
}
.right_one{
	       width: 300px;
	       height: 290px;
	       font-family: 楷体;
	       font-size: 30px;
	       font-weight: bold;
	       color: #961717;
}
.right_jianbian{
	       width: 300px;
	       height: 25px;
	 /*firefox*/
           background-image: -moz-linear-gradient(top, #4b8e01, #ffffff);  
     /* Safari & Chrome */  
           background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #4b8e01));  
     /* IE6 & IE7 */
           filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4b8e01', endColorstr='#ffffff');  
     /* IE8 */  
           -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4b8e01', endColorstr='#ffffff')"; 
}
/*index&&index2   all mate*/
/*index  mate*/
.right_two{
	       width: 300px;
	       height: 305px;
	       margin-top: 15px;
}
.right_aicishan{
	       width: 175px;
	       height: 42px;
	       margin-left: 0px;
}
.sina{
	       width: 300px;
	       height: 238px;
}


.right_three{
	       width: 300px;
	       height: 118px;
	       margin-top: 15px;
}
.yaoqinghaoyou{
	        width: 200px;
	        height: 42px;
	        margin-left: 50px;
	        font-family: 微软雅黑;
	        font-size: 18px;
	        line-height: 40px;
	        color: #f78787;
}
.yaoqinghaoyou a:link {
            color: #f78787;	
            text-decoration: none;
 }
.yaoqinghaoyou a:visited {
            color: #f78787; 
            text-decoration: none;
 }
.yaoqinghaoyou a:hover {
            color: green; 
            text-decoration: none;
 }
.hezuoshequ{
	        width: 300px;
	        height: 65px;
	        font-size: 20px;
	        font-family: 微软雅黑;
	        color: #7f0505;
}
.hezuoshequ a:link {
	        color: #7f0505;
            text-decoration: none;
 }
.hezuoshequ a:visited {
            color: #7f0505; 
            text-decoration: none;
 }
.hezuoshequ a:hover {
            color: #1849a3; 
            text-decoration: none;
 }


/*index2 mate*/
.right_2_two{
 	         width: 300px;
 	         height: 405px;
 	         font-family: 微软雅黑;
 	         font-size: 30px;
 	         color: #f51919;
 }
.right_2_two ul li{
	         width: 180px;
	         height: 55px;
	         margin-top: 25px;
	         margin-left: 60px;
}
/*右边栏结束*/

/*这里是底部*/
.copyRight{
	       width: 960px;
	       height: 30px;
	       margin: 0px auto;
	       background: #e9e2ff;
}
.copyRight p{
	        width: 300px;
	        height: 30px;
	        margin: 0px auto;
	        line-height: 30px;
}